
<form (ngSubmit)="updatePosts(updatePostForm)" #updatePostForm="ngForm">
    <div class="form-group">
        <label>Title</label>
        <input class="form-control" type="text" placeholder="enter title" name="title" #title="ngModel" [(ngModel)]="updatePost.title" required>
        <small class="form-text text-danger" *ngIf="title.dirty && title.invalid">Title field can't be empty</small>
    </div>
    <div class="form-group">
        <label>Body</label>
        <textarea class="form-control" type="text" placeholder="enter body" name="body" #body="ngModel" [(ngModel)]="updatePost.body" required></textarea>
        <small class="form-text text-danger" *ngIf="body.dirty && body.invalid">Body field can't be empty</small>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-dark" [disabled]="updatePostForm.pristine || updatePostForm.invalid">Update Post!</button>
    </div>
</form>