<div class='card my-2' *ngFor="let post of crud.posts;let i=index">
    <div class='card-body'>

        <h4 class='card-title'> {{post.title}} </h4>
        <h6 class='card-subtitle mb-2 text-muted'> Posted By User: {{post.id}} </h6>
        <p class='card-text'> {{post.body}} </p>
        <div class="d-flex justify-content-end align-items-baseline">
            <a class="m-1 btn btn-dark material-icons" (click)="deletePost(i)">delete</a>
            <a class="m-1 btn btn-dark material-icons" routerLink="/update" routerLinkActive="active" (click)="selectPost(i)">create</a>
          </div>
    </div>
</div>
